@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Acme');
$main-font: 'Quicksand', sans-serif;
$title-font: 'Acme', sans-serif;
$primary-color: #fff6f6;
$secondary-color: #ffdfdf;
$accent-color: #aedefc;
$accent-color-2: #fb929e;
